<% content_for :head do %>
  <%= stylesheet_link_tag 'give-feedback' %>
<% end %>

<div class="give-feedback">
  <%= link_to "Give feedback on our service guide and help us improve.", "https://www.tax.service.gov.uk/contact/beta-feedback?service=pillar2-service-guide&backUrl=%2Fguides%2Fpillar2-service-guide" %>
</div>
